@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create four equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
    </div>

    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Для продолжения работы авторизируйтесь</h1>
        </div>
    }
</body>

