@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create four equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        
        <div class="row">

            <div class="column">
                <h3>Справочникик</h3>
                <h4>
                    <li>
                        <a asp-area="" asp-controller="Units" asp-action="Index">Units</a>
                    </li>
                </h4>
                <h4>
                    <li>
                        <a asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                    </li>
                </h4>
                <h4>
                    <li>
                        <a asp-area="" asp-controller="Warehouses" asp-action="Index">Warehouse</a>
                    </li>
                </h4>
                <h4>
                    <li>
                        <a asp-area="" asp-controller="Partners" asp-action="Index">Partners</a>
                    </li>
                </h4>
            </div>

            <div class="column">
                <h3>Реализация</h3>
            </div>

            <div class="column">
                <h3>Поступление</h3>
            </div>

            <div class="column">
                <h3>Склад</h3>
            </div>

            <div class="clear"></div>
        </div>

    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Для продолжения работы авторизируйтесь</h1>
        </div>
    }
</body>

