
@model Application.Features.ProductFeatures.Commands.CreateProductCommand
@{
    ViewData["Title"] = "Create";
}

<h1>Создание</h1>

<h4>Номенклатура</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="forma" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Наименование</label>
                <input asp-for="Name" name="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Units" class="control-label">Единицы измерения</label>
                <p>

                    @Html.DropDownListFor(model => model.Units, ViewBag.Units as SelectList)
                </p>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Provider" class="control-label">Контрагент</label>
                <p>
                    @Html.DropDownListFor(model => model.Provider, ViewBag.Partners as SelectList)
                </p>
            </div>

            <div class="form-group">
                <label asp-for="ArticleNumber" class="control-label">Артикул</label>
                <input asp-for="ArticleNumber" name="ArticleNumber" class="form-control" />
                <span asp-validation-for="ArticleNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="sub" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
