@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background: #f2f2f2;
    }

    header {
        background: white;
        text-align: right;
        width: 100%;
        
    }

        header a {
            text-decoration: none;
            outline: none;
            display: block;
            transition: .3s ease-in-out;
        }

    

    nav {
        display: table;
        margin: 0 auto;
    }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    .topmenu:after {
        content: "";
        display: table;
        clear: both;
    }

    .topmenu > li {
        width: 25%;
        float: left;
        position: relative;
        font-family: 'Open Sans', sans-serif;
    }

        .topmenu > li > a {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: #404040;
            padding: 15px 30px;
        }

            .topmenu > li > a > form {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                color: #404040;
                padding: 15px 30px;
                text-align: right;
            }

    .topmenu li a:hover {
        color: #D5B45B;
    }


    .submenu-link:after {
        content: "\f107";
        font-family: "FontAwesome";
        color: inherit;
        margin-left: 10px;
    }

    .submenu {
        background: #273037;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        width: 180px;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;
    }

        .submenu a {
            color: white;
            text-align: left;
            padding: 12px 15px;
            font-size: 13px;
            border-bottom: 1px solid rgba(255,255,255,.1);
        }

        .submenu li:last-child a {
            border-bottom: none;
        }

    .topmenu > li:hover .submenu {
        opacity: 1;
        transform: scaleY(1);
    }
</style>

<header>

    @if (SignInManager.IsSignedIn(User))
    {
        <nav>
            <ul class="topmenu">

                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a href="" class="submenu-link">Справочники</a>
                    <ul class="submenu">
                        <li>
                            <a asp-area="" asp-controller="Units" asp-action="Index">Units</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Partners" asp-action="Index">Partners</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Warehouses" asp-action="Index">Warehouses</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="" class="submenu-link">Документ</a>
                    <ul class="submenu">
                        <li>
                            <a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Realization" asp-action="Index">Realization</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="" class="submenu-link">Склад</a>
                    <ul class="submenu">
                        <li>
                            <a asp-area="" asp-controller="Moving" asp-action="Index">Moving</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Inventory" asp-action="Index">Inventory</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="RegistrationWrite" asp-action="Index">Registration</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="RegistrationWrite" asp-action="Index">Write</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name!</a>
                    <ul class="submenu">
                        <li>
                            <a>
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                </form>
                            </a>
                        </li>
                    </ul>
                </li>

</nav>
    }
    else
    {
        <nav>
            <ul class="topmenu">
                <li>
                    <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li>
                    <a  asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            </ul>
        </nav>
    }

</header>
